{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Bitwa {{ battle.id }}{% endblock %}

{% block content %}
<h2>Piosenki</h2>
{% set songs = battle.songs %}
{% include "include/song_list.html" %}

{% if battle.started %}
<h2>Bitwa &ndash; zawartość posta</h2>
<h3>Temat</h3>
<pre>
Bitwa {{ battle.id }}: {{ format_date(battle.start_date) }} - {{ format_date(battle.finish_date) }}
</pre>

<h3>Post</h3>
<pre>
Piosenki uczestniczące w bitwie:
{% for song in songs %}
{{ macros.render_song(song, with_number = True, with_link = True) }}
{%- endfor %}
</pre>

<h3>Ankieta</h3>
<pre>
Wybierz max. 2 z 4 piosenek:
{% for song in songs %}
{{ macros.render_song(song) }}
{%- endfor %}
</pre>
{% endif %}

{% endblock %}

{% block controls %}
    {% if battle.finished %}
    <li>Bitwa jest zakończona, nie są dostępne żadne akcje.</li>
    {% elif battle.started %}
    <li><a href="{{ url_for('finish_battle_form', battle_id = battle.id) }}">Zakończ bitwę</a></li>
    {% else %}
    <li><a href="{{ url_for('start_battle', battle_id = battle.id) }}">Rozpocznij bitwę</a></li>
    {% endif %}

    <li><a href="{{ url_for('read_phase_battles', phase_id = battle.phase_id) }}">Powrót</a></li>
{% endblock %}

