{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Zakończ bitwę {{ battle.id }}{% endblock %}

{% block content %}
<form action="{{ url_for('battles.finish_battle', battle_id = battle.id)}}" method="post" accept-charset="utf-8" class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label" for="winners">Ilość zwycięzców:</label>
        <div class="col-md-10">
            <div class="radio">
                <label><input type="radio" name="winners" value="1">1</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="winners" value="2" checked>2</label>
            </div>
        </div>
    </div>

    {% for song in battle.songs %}
    <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
            <span class="help-block">{{ song.artist }} &ndash; {{ song.song }}</span>
            <input type="hidden" name="songs" value="{{ song.id }}">
            <input type="text" name="points" value="0" class="form-control">
        </div>
    </div>
    {% endfor %}

    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <input class="btn btn-default" type="submit" value="Zakończ">
        </div>
    </div>
</form>
{% endblock %}

{% block controls %}
    <li><a href="{{ url_for('battles.read_battle', battle_id = battle.id) }}">Powrót</a></li>
{% endblock %}
