<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Muzyczne Bitwy &ndash; {% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}" type="text/css" charset="utf-8">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <a href="{{ url_for('index') }}" class="navbar-brand">Muzyczne Bitwy</a>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        {% block controls %}
                        {% endblock %}
                    </ul>
                </div>
                <div class="col-md-10 col-md-offset-2">
                    <h1>{{ self.title() }}</h1>

                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <div>
                        {% for category, message in messages %}
                        <div class="alert alert-dismissable alert-{{ category }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}

                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>

