{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Bitwy dla fazy {{ phase.id }}{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Piosenki</th>
        <th>Status</th>
        <th></th>
    </tr>

    {% for battle in phase.battles %}
    <tr>
        <td>
            <p>{{ macros.render_song(battle.song1, with_number = True) }}</p>
            <p>{{ macros.render_song(battle.song2, with_number = True) }}</p>
            <p>{{ macros.render_song(battle.song3, with_number = True) }}</p>
            <p>{{ macros.render_song(battle.song4, with_number = True) }}</p>
        </td>
        <td>
            {% if battle.finished %}
            Zakończona
            {% elif battle.started %}
            Rozpoczęta
            {% else %}
            Nierozpoczęta
            {% endif %}
        </td>
        <td>[<a href="{{ url_for('read_battle', battle_id = battle.id) }}">Pokaż</a>]</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="3">
            Nie istnieją jeszcze bitwy dla tej fazy.
            <a href="{{ url_for('create_phase_battles', phase_id = phase.id) }}">Wylosuj bitwy</a>.
        </td>
    </tr>
    {% endfor %}
</table>

<ul>
    <li><a href="{{ url_for('read_phase', phase_id = phase.id) }}">Powrót</a></li>
</ul>
{% endblock %}

