{% extends "base.html" %}

{% block title %}Piosenki{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Id</th>
        <th>Wykonawca</th>
        <th>Piosenka</th>
        <th>Link</th>
        <th></th>
    </tr>

    {% for song in songs %}
    <tr>
        <td>{{ song.id }}</td>
        <td>{{ song.artist }}</td>
        <td>{{ song.song }}</td>
        {% if song.link %}
        <td>[<a href="{{ song.link }}">Link</a>]</td>
        {% endif %}
        <td>[<a href="{{ url_for('read_song', song_id = song.id) }}">Pokaż</a>]</td>
    </tr>
    {% endfor %}
</table>

{% if show_controls %}
<ul>
    <li><a href="{{ url_for('create_song_form') }}">Dodaj piosenkę</a></li>
</ul>
{% endif %}
{% endblock %}

