{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Bitwy dla fazy {{ phase.id }}{% endblock %}

{% block content %}
<table class="table table-striped">
    <tr>
        <th>Piosenki</th>
        <th>Status</th>
        <th></th>
    </tr>

    {% for battle in phase.battles %}
    <tr>
        <td>
            {% for song in battle.songs %}
            <p>{{ macros.render_song(song, with_number = True) }}</p>
            {% endfor %}
        </td>
        <td>
            {% if battle.finished %}
            Zakończona
            {% elif battle.started %}
            Rozpoczęta ({{ format_date(battle.start_date) }} &ndash; {{ format_date(battle.finish_date) }})
            {% else %}
            Nierozpoczęta
            {% endif %}
        </td>
        <td>[<a href="{{ url_for('battles.read_battle', battle_id = battle.id) }}">Pokaż</a>]</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="3">
            Nie istnieją jeszcze bitwy dla tej fazy.
            <a href="{{ url_for('phases.create_phase_battles', phase_id = phase.id) }}">Wylosuj bitwy</a>.
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block controls %}
    <li><a href="{{ url_for('phases.read_phase', phase_id = phase.id) }}">Powrót</a></li>
{% endblock %}
